In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Student-Employability-Datasets.xlsx")

In [3]:
df.head()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,Student 1,4,5,4,5,5,5,5,5,Employable
1,Student 2,4,4,4,4,4,4,3,5,Employable
2,Student 3,4,3,3,3,3,3,2,5,LessEmployable
3,Student 4,3,3,3,2,3,3,3,5,LessEmployable
4,Student 5,4,4,3,3,4,4,3,5,Employable

In [4]:
df.shape

(2982, 10)

In [5]:
df.isnull().sum()

Name of Student               0
GENERAL APPEARANCE            0
MANNER OF SPEAKING            0
PHYSICAL CONDITION            0
MENTAL ALERTNESS              0
SELF-CONFIDENCE               0
ABILITY TO PRESENT IDEAS      0
COMMUNICATION SKILLS          0
Student Performance Rating    0
CLASS                         0
dtype: int64

In [6]:
df.dtypes

Name of Student               object
GENERAL APPEARANCE             int64
MANNER OF SPEAKING             int64
PHYSICAL CONDITION             int64
MENTAL ALERTNESS               int64
SELF-CONFIDENCE                int64
ABILITY TO PRESENT IDEAS       int64
COMMUNICATION SKILLS           int64
Student Performance Rating     int64
CLASS                         object
dtype: object

In [7]:
df["Name of Student"].unique()

array(['Student 1', 'Student 2', 'Student 3', ..., 'Student 2998',
       'Student 2999', 'Student 3000'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
object_ = LabelEncoder()

In [10]:
df = df.apply(LabelEncoder().fit_transform)

In [11]:
dff = df.drop("CLASS",axis=1)

In [12]:
dff.head()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating
0,0,2,3,2,3,3,3,3,2
1,1101,2,2,2,2,2,2,1,2
2,2204,2,1,1,1,1,1,0,2
3,2316,1,1,1,0,1,1,1,2
4,2427,2,2,1,1,2,2,1,2

In [13]:
y = df["CLASS"]

In [14]:
df["CLASS"].unique()

array([0, 1])

In [15]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: CLASS, dtype: int32

In [16]:
dff.head()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating
0,0,2,3,2,3,3,3,3,2
1,1101,2,2,2,2,2,2,1,2
2,2204,2,1,1,1,1,1,0,2
3,2316,1,1,1,0,1,1,1,2
4,2427,2,2,1,1,2,2,1,2

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
dfftrain,dfftest,ytrain,ytest = train_test_split(dff,y,test_size=0.25,random_state=1)

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
rfc = RandomForestClassifier(n_estimators=100)

In [21]:
model = rfc.fit(dfftrain,ytrain)

In [22]:
model.score(dfftest,ytest)

0.8592493297587132

In [23]:
from sklearn.tree import DecisionTreeClassifier

In [24]:
object_ = DecisionTreeClassifier()

In [25]:
model2 = object_.fit(dfftrain,ytrain)

In [26]:
model2.score(dfftest,ytest)

0.8672922252010724